@import "../../../colors.scss";

.message{
  color:white;
  padding:8px;
  padding-top:2px;
  display:flex;
  flex-direction: column;
  .textContainer{
    margin-top:-4px;
    margin-left:29px;
    background:$background;
    color:$textGrey;
    padding:6px 8px;
    border-radius:10px;
    font-size:12px;
  }
  &.isOwner{
    .textContainer{
      background:$primaryColor;
      color:white;
    }
  }
}
